@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1 class="title">@ViewData["Title"]</h1>
    
    <p>keaMatch is a page to find another human being to date with.</p>

</div>