@{
ViewData["Title"] = "Home Page";
}

<div class="container">
    <form name="UserModel" method="POST" action="/Home/MatchPage">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Hans Hansen" name="Name">
            </div>
        </div>

        <div class="field">
            <label class="label">I want to date a...</label>
            <div class="control">

                <label class="radio">
                    <input type="radio" name="Gender" value="Male">
                    man
                </label>
                <label class="radio">
                    <input type="radio" name="Gender" value="Female">
                    woman
                </label>
            </div>
        </div>


        <div class="field">
            <label class="label">Date of Birth</label>
            <div class="control">
                <input class="input" type="date" placeholder="25.12.1983" name="DateOfBirth">
            </div>
        </div>

        <div class="field">
            <label class="label">Zodiac Sign</label>
            <div class="control">
                <div class="select">
                    <select name="Zodiac">
                        <option disabled selected>Select zodiac sign</option>
                        @foreach(ZodiacSign sign in Enum.GetValues(typeof(ZodiacSign)))
                        {
                            <option>
                                @sign.ToString()
                            </option>
                        }
                        
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Height (cm)</label>
            <div class="control">
                <input class="input" type="number" placeholder="" min="50" max="300" name="Height">
            </div>
        </div>

        <div class="field">
            <label class="label">Hobbies (separate multiple using comma)</label>
            <div class="control">
                <input class="input" type="text" placeholder="Watching Star Wars, Playing the bass guitar" name="Hobby">
            </div>
        </div>


        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="Algorithm" value="true">
                    Try our new <i>improved</i> algorithm
                </label>
            </div>
        </div>


        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Match me!</button>
            </div>
        </div>


    </form>
</div>