@model UserModel

@{
ViewData["Title"] = "Home Page";
     var ResultsUsers = new AlgorithmsClass().DefaultAlgorithm(Model).OrderByDescending(x=>x.Value);
}

    <div class="container">

        <table class="table">

            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th style="width: 60%;"></th>
                    <th>Percentage</th>
                </tr>
            </thead>

            <tbody>


                @{
                    var i = 1;
                    foreach (var user in ResultsUsers)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@user.Key.Name</td>
                            <td><progress class="progress is-success" value="97" max="100">@user.Value%</progress></td>
                            <td>@user.Value%</td>
                        </tr>
                        i++;
                    }
                }



            </tbody>
        </table>

    </div>